<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.KinMapper">

	<!-- ユーザー登録 -->
	<insert id="newUserInfo" parameterType="String">
		insert into
		kin_userinfo(id,name,age)values(#{id},#{name},#{age});
	</insert>

	<!-- ユーザー情報一覧取得 -->
	<select id="getUserInfo"
		resultType="com.example.demo.bean.UserInfoBean">
		select * from kin_userinfo;
	</select>


	<!-- ユーザーID情報取得 -->
	<select id="findById"
		resultType="com.example.demo.bean.UserInfoBean">
		select * from kin_userinfo where id = #{id} ;
	</select>


	<!-- ユーザー情報更新 -->
	<update id="update" >
		update kin_userinfo set  name = #{name}, age =#{age} where id =#{id}
	</update>

</mapper>